<nb-layout>
  <nb-layout-column>
    <nb-card status="success">
      <nb-card-header>List of images</nb-card-header>
      <nb-card-body>
        <h3 *ngIf="listLoaded === true && listItems.length === 0"></h3>
        <nb-list *ngIf="listLoaded === true && listItems.length !== 0">
          <nb-list-item *ngFor="let item of listItems">
            {{item}}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>
        Add image
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
