nb-card{
    max-height: 80vh;
}

nb-list-item:first-child{
    border-top: 0px;
}

nb-list-item:last-child{
    border-bottom: 0px;
}

nb-card-header{
    font-size: 22px;
}

nb-card-footer{
    text-align: right;
}

.list-header{
    background-color: rgba(0,214,143,0.200);
}

h6{
    padding-left: 0rem;
}

nb-icon{
    cursor: pointer;
    display: block;
    float: right;
    font-size: 28px;
}